<div class="container">
    <h1>Perfil visto con autorizacion via JWT </h1>
    <p>nombre de usuario: {{user.username}}</p>
    <p>e-mail/github: {{user.email}}</p>
    <p>tipo: {{user.type}}</p>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/{{fileJs}}"></script>