<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" A nice product shop">
  <meta name="keywords" content="products, lotsa, item, for, buying, in, a, demo, way">
  <meta name="LRM" content="Leandrito@CoderHouse2023">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Icono de la pestaña del navegador -->
  <link rel="icon" href="ruta/a/tu/icono.ico" type="image/x-icon">

  <title>Product Shopping</title>

  <!-- CSS -->
  <link rel="stylesheet" href="estilos.css">
</head>

<body>
</body>

<footer>
</footer>
<!-- scripts -->
<script src="script.js" defer></script>

</html>