<section class="py-3 mb-2 h-100">
  <div class="container px-2 px-lg-5 mt-1">
    <div>
      <p class="text-center fs-5 fw-bolder lead text-black-50 mb-3 fst-italic"> UR-cart </p>

      an empty cart...
    </div>
  </div>
</section>